.caixa_login{
    margin: auto;
    padding: auto;
    width: 400px;
    height: 500px;
    background-color: rgb(146, 92, 92);
    
}
h2{
    text-align: center;
    padding-top: 2em;
}
.caixa__login-input{
    padding-left: 6px;
    text-align: center;
    justify-content:space-evenly;
}